.dashboard {
  direction: ltr;
}

.flex {
  display: flex;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
}

.newCategory_form,
.newProduct_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.newCategory_form input,
.newProduct_form input,
.newProduct_form textarea,
.newCategory_form button,
.newProduct_form button {
  padding: 0.4rem 0.8rem;
}

.display {
  flex-grow: 1;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category {
  text-align: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--accent);
}

.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.product {
  flex-basis: calc(25% - 1rem);
  min-width: 200px;
  padding: 1rem;
  border: 1px solid var(--primary);
}

.image_container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.img {
  object-fit: cover;
}
