.main {
  position: relative;
}

.fixed_action {
  display: none;
  position: fixed;
  background-color: var(--accent);
  padding: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--primary);
  z-index: 1;
}

.link {
  display: flex;
  width: 100%;
}

.btn_fixed {
  border: none;
  background-color: var(--primary);
  width: 80%;
  margin: 0 auto !important;
  border-radius: 30px;
  padding: 0.3rem;
  font-weight: 700;
  cursor: pointer;
}

.main_flex {
  display: flex;
  padding: 2rem 0;
  gap: 2rem;
}

.product_info {
  flex-basis: 50%;
}

.images_container {
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
}
.big_image_container {
  position: relative;
  flex-basis: 80%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(0, 0, 0, 0.265);
  border-radius: 20px;
  overflow: hidden;
}
.big_image_container img,
.small_image_container img {
  object-fit: cover;
}

.small_images {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-basis: 15%;
}

.small_image_container {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(0, 0, 0, 0.265);
  border-radius: 20px;
  overflow: hidden;
  align-self: flex-end;
}

.active {
  border: 4px solid var(--primary);
}

.product_title {
  text-align: center;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.prices h2 {
  color: var(--primary);
}

.old_price {
  text-decoration: line-through;
}

.buyer_info {
  padding: 3rem 1rem;
  flex-basis: 50%;
  background-color: var(--accent);
  border: 1px solid var(--primary);
  border-radius: 20px;
  height: fit-content;
}

.buyer_infos_container {
  width: 85%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.flex {
  display: flex;
  gap: 0.3rem;
}
.flex input {
  flex-grow: 1;
  max-width: 50%;
}

.form input {
  padding: 0.8rem 1rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.1rem;
}

.form h2 {
  margin-top: 12px;
  margin-bottom: 5px;
}

.radio {
  display: flex;
  gap: 5px;
  font-size: 1.1rem;
  padding: 8px 0;
}
.radio:first-of-type {
  border-bottom: 1px solid var(--primary);
}

.radio:first-of-type {
  padding-bottom: 9px;
}
.form label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.form label h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.req_details {
  display: flex;
  font-size: 1.3rem;
  gap: 10px;
}

.color {
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.quantity {
  display: flex;
  flex-direction: row-reverse;
}

.quantity div {
  border: 1px solid var(--primary);
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity span {
  margin-top: 6px;
}

.quantity span.number {
  margin-top: 0;
}

.quantity div:nth-child(1) {
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.quantity div:nth-child(3) {
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.quantity div:nth-child(2) {
  border-left: none;
  border-right: none;
}

.action_btn {
  padding: 0.9rem 1rem;
  background-color: var(--primary);
  border: none;
  color: var(--dark_blue);
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 30px;
  margin-top: 2rem;
  cursor: pointer;
}

.alert_danger {
  text-align: center;
  color: var(--danger);
}

.alert_success {
  text-align: center;
  color: var(--dark-blue);
  background-color: var(--success);
  border: 1px solid var(--success-dark);
  padding: 1rem;
  border-radius: 20px;
}

.alert_data {
  padding: 1rem;
}

.alert_actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_actions button {
  width: 100%;
}

.btn_close {
  background-color: var(--danger);
  border: none;
  color: white;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .product_info {
    flex-basis: 60%;
  }

  .images_container {
    flex-direction: column;
  }

  .small_images {
    flex-direction: row-reverse;
  }

  .small_image_container {
    width: 23%;
    max-width: 110px;
    overflow: hidden;
    align-self: flex-start;
  }

  .buyer_infos_container {
    width: 95%;
  }

  .form input {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
  }
  .radio {
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .main_flex {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 8rem;
  }
  .fixed_action {
    display: flex;
  }
}
